@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans'), url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSan-Bold'), url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
}

 :root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-broun: #766357;
  --basic-grey: #F2F2F2;
  --special-broun: #604E43;
  --special-dark-broun: #503E33;
  --special-blue: #669EC0;
  --special-dark-blue: #5496BD;
  --special-dark-grey: #EBEBEB;
  --special-border-grey: #E5E5E5;
  --opacity-white: rgba(255, 255, 255, 0.3);
  --opacity-black: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.page-header {
  background: var(--basic-white);
  width: 100%;
}

.navigation {
  position: relative;
}

.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navigation__item:nth-child(2) {
  margin-right: 150px;
}

.navigation__item:nth-child(3) {
  margin-left: 150px;
}

.navigation__item {
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.navigation__item a:hover {
  color: var(--basic-blue);
}

.navigation__item a:active {
  color: var(--opacity-black);
}

.navigation__item a {
  display: block;
  padding: 15px 0px;
  color: var(--basic-black);
}


/*Advantages*/

.advantages__banner {
  width: 1200px;
  height: 506px;
  text-align: center;
  background-color: gray;
  background-image: url(/img/Shape.png), url(/img/background_photo.jpg);
  background-position: bottom, top;
  background-repeat: no-repeat;
  margin-bottom: 43px;
}

.advantages__banner-image {
  margin-top: 77px;
}

.advantages__title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 50px;
}

.advantages__intro {
  line-height: 26px;
  text-align: center;
  margin-bottom: 51px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
}

.advantages__item {
  flex: 33%;
}

.advantages__item-with-image {
  flex: 100%;
  display: flex;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.advantages__item:nth-child(5) {
  flex-direction: row-reverse;
}

.advantages__item-with-image>.advantages__item-text {
  flex: 1;
}

.advantages__item-text {
  text-align: center;
  padding: 0 49px;
}

.advantages__item-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 25px;
}

.advantages__item-number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 23px;
}

.advantages__item-description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.advantages__item-image-box {
  position: relative;
  width: 66.6%;
  overflow: hidden;
}

.advantages__item-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  object-fit: cover;
}

.advantages__item-with-icon>.advantages__item-text {
  margin-top: 160px;
}

.advantages__item-with-icon>.advantages__item-text>.advantages__item-description {
  margin-bottom: 82px;
}

.advantages__item--housing {
  background: url(/img/icons/icon-1.svg) no-repeat 162px 60px;
}

.advantages__item--food {
  background: url(/img/icons/icon-3.svg) no-repeat 162px 61px;
}

.advantages__item--souvenirs {
  background: url(/img/icons/icon-2.svg) no-repeat 168px 55px;
}

.advantages__item--bg-grey {
  background-color: var(--basic-grey);
}


/*Search*/

.search__text span {
  display: inline-block;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.search__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 48px;
}

.search__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__button:hover {
  background-color: var(--special-broun);
}

.search__button:active {
  color: var(--opacity-white);
  background-color: var(--special-dark-broun);
}

.search__button {
  font-family: inherit;
  font-style: inherit;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  min-width: 568px;
  height: 86px;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-broun);
}


/*footer*/

.page-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  margin-top: -120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.contacts a {
  color: var(--basic-black)
}

.contacts__text {
  margin-bottom: 9px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 150px;
  list-style: none;
}

.social__link:hover {
  background-color: var(--special-blue);
}

.social__link:active {
  background-color: var(--special-dark-blue);
}

.social__link:active path {
  fill: var(--opacity-white);
}

.social__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.copyright__link:hover path {
  fill: var(--basic-blue);
}

.copyright__link:active path {
  fill: var(--opacity-black);
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  width: 199px;
}


/*form*/

.search-form-box{
  width: 458px;
  height: 285px;
  padding: 55px;
  background-color: var(--basic-white);
}

.search-form {
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

input {
  outline: none;
}

.search-form__date-input {
  width: 346px;
  height: 38px;
  border: 0;
  background-color: var(--basic-grey);
}

.search-form__date-box::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 23px;
  background-image: url(../img/icons/calendar.svg);
  background-repeat: no-repeat;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
}

.search-form__date-input:hover {
  background-color: var(--special-dark-grey);
}

.search-form__date-input:active {
  background-color: var(--basic-white);
  outline: 2px solid var(--special-border-grey);
  outline-offset: -2px;
}

.search-form__count-input {
  width: 38px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: var(--basic-grey);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.search-form__date-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}


.search-form__count-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.search-form__count {
  display: flex;
  align-items: center;

}

.search-form__count-text--adult {
  margin-right: 39px;
}

.search-form__count-text-children {
  margin-right: 30px;
}


.search-form__count-buttons-box {
  display: flex;
  background-color: var(--basic-grey);
}


.search-form__count-button:hover svg{
  fill: var(--basic-black);
}

.search-form__count-button:active svg{
  fill: var(--basic-blue);
}

.search-form__count-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: var(--basic-grey);
}



.search-form__button-find {
  width: 458px;
  height: 58px;
  padding: 0;
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  border: 0;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.search-form__button-find:hover {
  background-color: var(--special-dark-blue);
}

.search-form__button-find:active {
  color: var(--opacity-white);
  background-color: var(--special-dark-blue);
}
